extends _includes/layout.pug

block content
  #category
    //- h1= page.category
    - page.posts.each(function(article){
      .post-item
        - post = article
        include _includes/post_item.pug
    - })
  #paginator!= paginator()
